<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wtss.xstream_gate_pass_app">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <!-- Legacy storage: only required on Android 9 (API 28) and below for writing,
         and Android 12L (API 32) and below for reading media. Android 13+ uses
         scoped storage / the system photo picker, so gal (save), image_picker,
         and file_picker need no runtime storage permission there. Capping these
         keeps the old flows working without triggering Play's broad-storage /
         media-location sensitive-permission review. -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-feature android:name="android.hardware.camera" />

    <application android:requestLegacyExternalStorage="true" android:enableOnBackInvokedCallback="true" android:label="Xstream Gatepass"
        android:name="${applicationName}" android:icon="@mipmap/ic_launcher">
        <activity android:name=".MainActivity" android:exported="true"
            android:launchMode="singleTop" android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true" android:windowSoftInputMode="adjustResize">
            <!-- Specifies an Android theme to apply to this Activity as soon as
                 the Android process has started. This theme is visible to the user
                 while the Flutter UI initializes. After that, this theme continues
                 to determine the Window background behind the Flutter UI. -->
            <meta-data android:name="io.flutter.embedding.android.NormalTheme"
                android:resource="@style/NormalTheme" />
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- Don't delete the meta-data below.
             This is used by the Flutter tool to generate GeneratedPluginRegistrant.java -->
        <meta-data android:name="flutterEmbedding" android:value="2" />
        <uses-library android:name="device.sdk" android:required="false" />
    </application>
</manifest>